/* Payment-Form */
.payment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.payment-form .title-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.payment-form .title-box .title {
  width: 325px;
  height: 60px;
  position: relative;
  margin-bottom: 15px;
}
.payment-form .title h1 {
  font-family: thin;
  font-size: 45px;
  position: absolute;
}
.payment-form .title span {
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--light_yellow);
  z-index: -1;
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}
.payment-form .payment-box {
  width: 1140px;
  border: var(--border);
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.payment-form .payment-box .pay-box {
  width: 50%;
  height: 520px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  background-color: var(--lightsky);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.payment-form .pay-box h1 {
  font-family: thin;
  font-size: 20px;
}
.payment-form .pay-box p,
.payment-form .pay-box .label-box,
.payment-form .pay-box .input {
  font-size: 12px;
}
.payment-form .pay-box input {
  width: 92%;
  padding: 7px 12px;
  border-radius: 5px;
  border: var(--border);
  margin: 10px 0 20px;
  font-size: 12px;
}
.payment-form .pay-box .item-2 {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.payment-form .item-2 .box-item-2 {
  font-size: 12px;
  width: 47.5%;
}
.payment-form .pay-box .card {
  margin-bottom: 1.05rem;
}
.payment-form .pay-box .card i {
  font-size: 25px;
  margin-top: 20px;
}
.payment-form .pay-box .shipping {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  
}
.payment-form .pay-box .shipping a {
  width: 60px;
  padding: 5px 15px;
  background-color: var(--red);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-top: 10px;
  transition: all 0.15s;
}
.payment-form .pay-box .shipping a:hover {
  border: 2px solid var(--red);
  background-color: var(--black);
}